
body {
  background-color: pink;
  text-align: center;
}

h2 {
  color: rgb(20, 70, 163);
}

nav {
  background: rgb(145, 97, 137);
}

.logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600px;
  line-height: 70px;
  padding-left: 30px;
}

nav::after {
  content: "";
  clear: both;
  display: table;
}

nav ul {
  font: left;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li {
  float: left;
  display: inline-block;
  background: rgb(224, 148, 204);
  margin: 0 100px;
}

nav ul li a {
  color: red;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
}

.container {
  display: block;
  width: 100%x;
  height: 400px;
  background-color: hotpink;
  border: 3px dotted lightblue;
}

.container1 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  background-color: yellow;
  font-size: 16px;
  text-align: justify;
}

.peta1 {
  background-color: orange;
}

.flow {
  background-color: steelblue;
}

.stream {
  background-color: orange;
}
