@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
    background-image: linear-gradient(to left top, #8db998, #27918b, #006687, #003976, #0d0048);
    background-attachment: fixed;
    margin: 0px;
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 25px;
}

header {
    background-color: rgba(150, 150, 150, .2);
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}